$mobile-rule: "(max-width: 996px)";
$desktop-rule: "(min-width: 997px)";
$desktop-padding: 128px;
$mobile-padding: 32px;

* {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.85);
}

body {
    &::before {
        content: "";
        display: table;
    }

    box-sizing: border-box;
    background: url(../background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    height: 100vh;
}

.left-div {
    box-sizing: border-box;

    @media #{$desktop-rule} {
        padding-left: $desktop-padding;
        width: 50%;
        position: absolute;
        left: 0;
    }

    @media #{$mobile-rule} {
        width: 100%;
        padding: $mobile-padding;
    }
}

.right-div {
    box-sizing: border-box;

    @media #{$desktop-rule} {
        position: absolute;
        right: 0;
        max-width: 50%;
        padding-right: $desktop-padding;
        overflow-y: auto;
        max-height: 80%;
    }

    @media #{$mobile-rule} {
        width: 100%;
        padding: 0 $mobile-padding;
    }
}

.container {
    display: flex;

    @media #{$desktop-rule} {
        align-items: center;
        height: 100%;
        width: 100%;
    }

    @media #{$mobile-rule} {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
    }

    &::after {
        content: "";
        position: fixed;
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.15);
    }
}