* {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
}
body {
  background: url(../../img/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 996px) {
  .container {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (min-width: 997px) {
  .left-div {
    margin-left: 24px;
  }
}
.right-div {
  position: absolute;
  right: 0%;
}
@media (max-width: 996px) {
  .right-div {
    position: relative;
  }
}
@media (min-width: 997px) {
  .right-div {
    margin-right: 24px;
  }
}
