@normal-padding: 16px;
@normal-blur-radius: 16px;
@max-content-width: 24rem;
@mobile-breakpoint: 992px;
@white-85: rgba(255,255,255,0.85);
@black-40: rgba(0,0,0,0.4);
@transition-duration: 0.3s;

.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-background(@radius: @normal-blur-radius) {
  backdrop-filter: blur(@radius);
  background-color: rgba(255, 255, 255, 0.05);
}

.mobile-breakpoint(@rules) {
  @media (max-width: @mobile-breakpoint) {
    @rules();
  }
}

* {
  margin: 0;
  padding: 0;
  color: @white-85;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(../../img/background.png) center/cover fixed;
  overflow-y: scroll;

  &::after when (@mobile-breakpoint < 200px) {
    content: "屏幕过小，无法展示网页内容";
    .flex-center();
    padding: 10px;
    height: 100%;
  }
}

.container {
  .flex-center();
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: @black-40;
  box-sizing: border-box;
  overflow: visible scroll;

  .mobile-breakpoint({
    display: none;
  });
}

.avatar {
  @size: 150px;
  width: @size;
  height: @size;
  border: 2px solid fade(@white-85, 10%);
  border-radius: 50%;
  background: url("https://avatars.githubusercontent.com/u/85998341?v=4") center/cover;
  cursor: pointer;
  transition: all @transition-duration, box-shadow (@transition-duration * 2.5);

  &:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 25px fade(@white-85, 40%);
  }

  .mobile-breakpoint({
    width: @size * 0.8;
    height: @size * 0.8;
  });
}

#name {
  font: 600 20px/1.5 sans-serif;
  letter-spacing: 0.1em;
  margin: @normal-padding 8px 0;
  text-align: center;
  cursor: default;
}

.content {
  max-width: @max-content-width;
  margin: @normal-padding 8px (@normal-padding * 1.5);
  text-align: center;
  cursor: default;
}

.line {
  height: 1px;
  width: calc(@max-content-width - 4rem);
  background-color: fade(rgb(96, 96, 96), 75%);
}

.social-media {
  padding-top: @normal-padding;
  display: flex;
  flex-wrap: wrap;
  max-width: @max-content-width;
  .flex-center();

  .social-button {
    .blur-background();
    .flex-center();
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    transition: all @transition-duration;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: fade(white, 25%);
      box-shadow: 0 0 20px fade(white, 15%);
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 200px) {
  .container {
    display: none;
  }
}