$mobile-rule: "(max-width: 996px)";
$desktop-rule: "(min-width: 997px)";
$text-color: rgba(255, 255, 255, 0.85);
$desktop-padding: 128px;
$mobile-padding: 32px;
$desktop-avatar-width: 120px;
$mobile-avatar-width: 100px;
$normal-blur-redius: 16px;
$contact-max-div: 60%;
