@mobile-rule: (max-width: 996px);
@desktop-rule: (min-width: 997px);
@universe-div-margin: 128px;
@universe-mobile-div-margin: 32px;

* {
  margin: 0;
  padding: 0;
  // 全局默认字体颜色
  color: rgba(255, 255, 255, 0.85);
}

body {
  background: url(../background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  // 背景遮罩
  background-color: rgba(0,0,0,0.4);

  @media @mobile-rule {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
  }
}

.left-div {
  box-sizing: border-box;
  
  @media @mobile-rule {
    margin: 0 @universe-mobile-div-margin;
    max-width: 100%;
  }
  
  @media @desktop-rule {
    margin-left: @universe-div-margin;
    width: 50%;
  }
}

.right-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0%;

  @media @desktop-rule {
    width: 50%;
    margin-right: @universe-div-margin
  }

  @media @mobile-rule {
    width: 100%;
  }
}